body {
  padding-bottom: 60px;
  background-color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px; }

hr {
  margin: 50px 0;
  border: none;
  border-top: 1px solid #DDD; }

.tabs-pane {
  border: 1px solid #CCC;
  border-top-style: none;
  padding: 20px; }

.version-pane {
  display: none; }

.visible-pane {
  display: block; }

.faded {
  font-size: 12px;
  color: #999; }

a {
  color: #1251ae;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
